::selection{
    background:#a7ff98;
    color: #2d2d2d;
}
.bottom:before{
    background: #2d2d2d;
}
.bottom:after{
    background: #47dc2e;
}
.top:before {
  background: #47dc2e;
}
.top:after {
  background: #2d2d2d;
}
.nav-bar-header-one{
    background: #47dc2e;
}
.treeview-animated-items .active2{
    background-color: #47dc2e;
}
.treeview-animated-items .active2:hover{
      color: #3b3b3b;
      background-color: #6bff76;
}
.sidenav{
  background-color: #2d2d2d;
}
.fc-dayGridMonth-button::after{
    background-color: #2d2d2d !important;
    border-color: #2d2d2d;
}
.fc-timeGridWeek-button::after{
    background-color: #2d2d2d !important;
    border-color: #2d2d2d;
}
.fc-timeGridDay-button::after{
    background-color: #2d2d2d !important;
    border-color: #2d2d2d;
}
.fc-button-primary{
    background-color: #2d2d2d !important;
    border-color: #2d2d2d;
}
.fc-button-primary:not(:disabled).fc-button-active, .fc-button-primary:not(:disabled):active{
    background-color: #47dc2e !important;
    border-color: #47dc2e;
}
.header-main-menu .navbar-nav .header-admin .dropdown-menu .item-header{
  background-color: #47dc2e;
}
.header-main-menu .navbar-nav .header-admin .dropdown-menu .item-header .item-title{
    color: #2d2d2d;
}
.breadcrumbs-area ul li{
  color: #47dc2e;
}
.center input:focus{
  border: 2px solid #47dc2e;
}
.center button{
    background-color:#47dc2e;
    color: #2d2d2d !important;
    transition: 0.3s;
}
.center button:hover{
    background-color:#acffa2 !important;
    color: #2d2d2d !important;
}
.theme_color i{
    color: #28a745;
}
.theme_color .item-icon{
    background-color: #d1f3e0;
}
.theme_color .post-date{
    background-color:#47dc2e !important;
    color: #2d2d2d !important;
}
.add_notice input:focus{
    border: 2px solid #47dc2e;
}
.add_question input:focus{
    border: 2px solid #47dc2e;
}
.add_notice textarea:focus{
    border: 2px solid #47dc2e;
}
.submit-notice{
    background: #47dc2e;
    color: #2d2d2d;
}
.treeview-animated-items .open{
    background-color: #47dc2e;
    color: #2d2d2d;
}
.treeview-animated-items .open:hover {
    background-color: #6bff76;
    color: #2d2d2d;
}
.dashboard-card-four ::-webkit-scrollbar-thumb {
    background: #47dc2e;
}
.dashboard-card-six ::-webkit-scrollbar-thumb {
  background: #47dc2e;
}
.theme_color .fw-btn-fill{
    background: #47dc2e;
    color: #2d2d2d;
}
.theme_color .fw-btn-fill:hover{
    background: #2d2d2d;
    color: #fff;
}
.user_list .search_btn{
    background: #47dc2e;
    color: #2d2d2d;
}
.user_list .search_btn:hover{
    background: #2d2d2d;
    color: #fff;
}
.user_list a:hover{
    color:#47dc2e;
}
.single-info-details .item-content .item-header .header-elements ul li a:hover {
  background-color: #47dc2e;
  color: #fff;
}
.new-added-form input:focus {
  border: 2px solid #47dc2e;
}
.new-added-form textarea:focus {
  border: 2px solid #47dc2e;
}
.new-added-form .submit-form-btn {
  background: #47dc2e;
  color: #2d2d2d;
  transition: 0.3s;
}
.new-added-form .submit-form-btn:hover {
  background: #b0ffaa;
  color: #2d2d2d;
}
.new-added-form .reset-form-btn {
  background: #2d2d2d;
  color: #fff;
  transition: 0.3s;
}
.new-added-form .reset-form-btn:hover {
  background: #c1c1c1;
  color: #2d2d2d;
}
.search-form-box input:focus {
    border: 1px solid #47dc2e;
}
.attendance-table th{
    background-color: #c9ffb8;
}
.attendance-table a:hover {
    color: #47dc2e;
}
a {
    color: #47dc2e;
}
.vote-btn{
    background-color: #47dc2e;
    color: #2d2d2d;
}
.vote-btn:hover{
    color: #fff !important;
    background-color: #2d2d2d;
}
.result-btn{
    border: 1px solid #47dc2e;
    background-color: transparent;
    color: #2d2d2d;
}
.result-btn:hover{
    color: #2d2d2d !important;
    background-color: #47dc2e;
}
.breadcrumbs-area a{
    border: 1px solid #47dc2e;
    background-color: #47dc2e;
    color: #2d2d2d;
    display: inline;
}
.breadcrumbs-area a:hover{
    border: 1px solid #47dc2e;
    color: #2d2d2d;
    background-color: transparent;
}
.start-quiz-btn {
    background-color: #47dc2e;
    color: #2d2d2d;
}
.start-quiz-btn:hover {
    background-color: #2d2d2d;
    color: #fff;
}