{% load static %}
<!-- jquery-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- jquery UI-->
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<!-- Plugins js -->
<script src="{% static 'js/plugins.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Counterup Js -->
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<!-- Waypoints Js -->
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<!-- Scroll Up Js -->
<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
<!-- MyScripts -->
<script src='{% static "js/scripts.js" %}'></script>