{% extends 'base.html' %}

{% block main %}
<div class="m-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="card dashboard-card-eleven">
                <div class="card-body user_list">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2>گذرواژه با موفقیت تغییر کرد</h2>
                            <hr>
                            <a href="{% url 'main:login' %}" class="btn btn-success text-light">برگشت به صفحه اصلی</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}