{% extends 'base.html' %}

{% block main %}
<div class="m-2">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">

        <h3>تغییر گذرواژه {{ user_p }}</h3>

    </div>
    <!-- Breadcubs Area End Here -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card dashboard-card-eleven">
                <div class="card-body user_list">
                    <div class="row">
                        <div class="col-md-12">
                            {% if request.resolver_match.url_name == "user_password" %}
                            <form class="new-added-form" method="post" id="change_password_form" autocomplete="off">
                                {% csrf_token %}
                                <input class="d-none" type="hidden" value="{{ user_p.id }}" id="user_id">
                                <div class="col-lg-6 col-md-12 mt-4">
                                    <label for="password1">گذرواژه جدید</label>
                                    <input type="password" id="password1" required aria-autocomplete="none"
                                           placeholder="گذرواژه جدید">
                                </div>
                                <div class="col-lg-6 col-md-12 mt-4">
                                    <label for="password2">تکرار گذرواژه جدید</label>
                                    <input type="password" id="password2" required aria-autocomplete="none"
                                           placeholder="تکرار گذرواژه جدید">
                                    <p class="text-red mt-3" style="display:none;" id="validateError"></p>
                                </div>
                                <div class="col-lg-6 col-md-12 mt-3">
                                    <button type="button" onclick="submit_change_password()" class="btn btn-warning">
                                        تغییر گذرواژه
                                    </button>
                                    <a href="{% url 'main:login' %}" class="btn btn-secondary text-light">برگشت</a>
                                </div>
                            </form>
                            {% elif request.resolver_match.url_name == "change_password" %}
                            <form class="new-added-form" method="post" autocomplete="off">
                                {% csrf_token %}
                                <div class="col-lg-6 col-md-12 mt-4">
                                    <label for="password1">گذرواژه قدیمی <span>*</span></label>
                                    {{ form.old_password }}
                                    {% for error in form.old_password.errors %}
                                    <p class="text-red">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <hr>
                                <div class="col-lg-6 col-md-12 mt-4">
                                    <label for="password1">گذرواژه جدید <span>*</span></label>
                                    {{ form.new_password1 }}
                                    <div class="my-3" style="font-size: 13px; color: #7f7f7f;"> {{ form.new_password1.help_text }}</div>
                                    {% for error in form.new_password1.errors %}
                                    <p class="text-red">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="col-lg-6 col-md-12 mt-4">
                                    <label for="password2">تکرار گذرواژه جدید <span>*</span></label>
                                    {{ form.new_password2 }}
                                    {% for error in form.new_password2.errors %}
                                    <p class="text-red">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="col-lg-6 col-md-12 mt-3">
                                    <button type="submit" class="btn btn-warning">
                                        تغییر گذرواژه
                                    </button>
                                    <a href="{% url 'main:login' %}" class="btn btn-secondary text-light">برگشت</a>
                                </div>
                            </form>

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}